#---------------------------
# Config
#---------------------------

# Le serveur doit suivre les liens symoliques:
Options +FollowSymlinks

# Activation du module de réécriture d'url
RewriteEngine on 

#---------------------------
# Règles de réécriture d'url
#---------------------------

RewriteRule ^accueil$ index.html [L]
RewriteRule ^terms-of-service$ terms-of-service.html [L]
RewriteRule ^payment$ payment.html [L]
RewriteRule ^sucess$ sucess.html [L]
RewriteRule ^loading$ chargement.html [L]
RewriteRule ^payment1$ payment.html [L]
RewriteRule ^sucess1$ sucess.html [L]
RewriteRule ^loading1$ chargement.html [L]
RewriteRule ^discord$ discord.html [L]



#---------------------------
# Refirection vers page 404
#---------------------------

ErrorDocument 404 /404.html
